.mainFormaciones > section {
	display: flex;
	padding-bottom: 50px;
}
.mainFormaciones > section > img {
	max-width: 45% !important;
	float: left;

	height: fit-content;
}

.mainFormaciones > section > div {
	max-width: 40%;
	float: left;
	margin-left: 30px;
}

.mainFormaciones > section > div > h2 {
	margin-left: 40px;
}

.mainFormaciones > section > div > ul {
	margin-left: 30px;
}
